In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv(r"attack_data.csv")
data.head()

,Unnamed: 0,Date,Country,City,Killed,Injured,Description
0,1,2002-01-01,Indonesia,Palu,1,0,Four bombs explode at Christian churches and o...
1,2,2002-01-01,India,Baramulla,1,0,Terrorists enter the home of a civilian and ki...
2,3,2002-01-01,India,Poshkar,2,0,Two civilians are abducted from their homes th...
3,4,2002-01-02,India,Rajouri,6,9,Three separate terror attacks in the district ...
4,5,2002-01-02,India,Jehangir Chowk,2,25,A Muslim militant kills two and injures twenty...